* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(135deg, #53a370 10%, #0E5CAD 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

input {
    background-color: rgb(69, 30, 210);
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #4c2885;
    background-image: linear-gradient(315deg, #4c2885 0%, #4c11ac 100%);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    max-width: 1200px;
}

.avatar {
    border: 10px solid rgb(144, 102, 201);
    border-radius: 50%;
    height: 155px;
    width: 155px;
}

.user-info ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    max-width: 400px;


}

.user-info ul li {
    display: flex;
    align-items: center;

}