@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto&display=swap");

/* font-family: "Luxurious Roman", cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

.container {
	position: relative;
	border-radius: 5px;
	box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	width: 350px;
}

header {
	background-color: royalblue;
	padding: 1rem;
}

header h1 {
	text-align: center;
}

header h3 {
	margin: 0.6rem 0;
}

header input {
	font-size: 1.2rem;
	padding: 0.4rem;
	background-color: rgb(49, 80, 172);
	color: azure;
	border-radius: 50px;
	border: 0;
}

header input:focus {
	outline: none;
}

.users__container {
	max-height: 400px;
	overflow-y: auto;
}

.user {
	display: flex;
}

.user img {
	width: 25%;
	border-radius: 50%;
	margin: 1rem;
	object-fit: cover;
}

.user__info {
	margin: 2rem;
}

small {
	font-size: 1rem;
}
