@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto&display=swap");

/* font-family: "Luxurious Roman", cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.container {
	width: 85vw;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.card {
	width: 14.6%;
	background-color: cadetblue;
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	width: 80%;
	background-color: azure;
	border-radius: 50%;
	margin: 0.4rem;
}
small {
	font-size: 0.9rem;
	margin-bottom: 0.4rem;
}

.id {
	font-weight: bold;
	letter-spacing: 0.1rem;
	margin-top: 0.3rem;
}

h1 {
	font-size: 1.5rem;
	font-family: "Luxurious Roman", cursive;
	margin-bottom: 0.4rem;
}
