@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto&display=swap");

/* font-family: "Luxurious Roman", cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

.container {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.background-left,
.background-right {
	width: 50%;
	height: 100%;
	background-position: center;
	background-size: cover;
	transition: 0.4s;
}

.left-content,
.right-content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.left-content button,
.right-content button {
	width: 25%;
	margin-top: 0.4rem;
	font-size: 1.3rem;
	padding: 0.3rem;
	background-color: transparent;
	box-shadow: 10px 5px 5px black;
	cursor: pointer;
	transition: 0.2s;
}

.left-content button:hover,
.right-content button:hover {
	font-size: 1.4rem;
}

.background-left:hover,
.background-right:hover {
	width: 120%;
}

h2 {
	font-size: 2.3rem;
	color: azure;
}

.background-left {
	background-image: url(./images/Nintendo-Switch.jpg);
}

.left-content {
	background-color: rgba(242, 7, 38, 0.3);
	font-family: "Luxurious Roman", cursive;
}

.right-content {
	background-color: rgba(163, 6, 168, 0.3);
	font-family: "Luxurious Roman", cursive;
}

.background-right {
	background-image: url(./images/steam-deck.jpg);
}
