@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto&display=swap");

/* font-family: "Luxurious Roman", cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	background-color: rgb(125, 15, 199);
}

.generator {
	background-color: purple;
	color: azure;
	display: flex;
	flex-direction: column;
	width: 400px;
}

h1 {
	font-family: "Luxurious Roman", cursive;
	text-align: center;
	padding: 1rem;
	letter-spacing: 0.1rem;
}

.textarea__container {
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 0 0.6rem 0.6rem 0.6rem;
}

textarea {
	font-size: 1.8rem;
	padding: 0.3rem;
	outline: none;
	background-color: rgb(125, 15, 199);
	border: none;
	color: azure;
}

.form__control {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0.3rem 1rem;
	font-size: 1.2rem;
}

.form__control input {
	font-size: 1.3rem;
	text-align: center;
	background-color: rgb(125, 15, 199);
	color: azure;
}

button {
	color: azure;
	background-color: rgb(100, 10, 160);
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0.4rem;
	font-size: 1.3rem;
	transition: 0.2s;
}

button:hover {
	color: rgb(210, 230, 230);
	background-color: rgb(92, 11, 146);
}

button.submit {
	margin: 0.6rem;
}
