@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto&display=swap");

/* font-family: "Luxurious Roman", cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: rgb(79, 80, 26);
	background: linear-gradient(
		90deg,
		rgba(79, 80, 26, 1) 0%,
		rgba(191, 188, 45, 1) 50%,
		rgba(124, 131, 4, 1) 100%
	);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25vw;
	height: 45vh;
	background: rgb(79, 80, 33);
	background: linear-gradient(
		90deg,
		rgba(79, 80, 33, 1) 0%,
		rgba(70, 69, 20, 1) 48%,
		rgba(124, 131, 4, 1) 100%
	);
	color: azure;
}

.form-control {
	position: relative;
	margin: 20px 0 40px;
	width: 300px;
}

.form-control input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px azure solid;
	display: block;
	width: 100%;
	padding: 15px 0;
	font-size: 1.2rem;
}

.form-control input:focus,
.form-control input:valid {
	outline: 0;
}

button {
	width: 85%;
	padding: 0.3rem;
	font-size: 1.4rem;
	background-color: rgb(194, 194, 26);
	cursor: pointer;
	font-family: "Luxurious Roman", cursive;
	border-radius: 10px;
	margin-bottom: 0.5rem;
}
.container h1 {
	text-align: center;
}
