@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto&display=swap");

/* font-family: "Luxurious Roman", cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(175, 197, 154);
}

.container {
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 15vh;
	width: 100%;
	background-color: black;
	color: azure;
	position: fixed;
	top: 0;
	left: 0;
	transition: 0.2s;
}

.header h1 {
	font-family: "Luxurious Roman", cursive;
}

.menu__list {
	display: flex;
	list-style-type: none;
}

.menu__link {
	color: azure;
	text-decoration: none;
	padding: 1rem;
	font-size: 1.2rem;
	transition: color 0.2s;
}

.menu__link:hover {
	color: brown;
}

img {
	width: 100%;
	margin-top: 10vh;
}

h3 {
	font-family: "Luxurious Roman", cursive;
	padding: 1rem;
}

p {
	padding: 2rem;
}

footer {
	text-align: center;
	text-transform: uppercase;
	color: rgb(89, 68, 212);
}

.scrolled-background {
	background-color: azure;
	height: 11vh;
	transition: 0.2s;
}

.scrolled {
	color: black;
	transform: scale(0.7);
}
