@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto&display=swap");

/* font-family: "Luxurious Roman", cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	background-color: coral;
}

.empty {
	height: 150px;
	width: 150px;
	margin: 0.7rem;
	border: solid 3px black;
	background-color: azure;
}

.fill {
	background-image: url("https://source.unsplash.com/random/150x150");
	height: 145px;
	width: 145px;
	cursor: pointer;
}

.hold {
	border: solid 5px azure;
}

.hovered {
	background-color: #333;
	border-color: azure;
	border-style: dashed;
}

@media (max-width: 800px) {
	body {
		flex-direction: column;
	}
}
