@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto&display=swap");

/* font-family: "Luxurious Roman", cursive; */
/* font-family: 'Roboto', sans-serif; */

:root {
	--border-color: #144fc6;
	--fill-color: #71ace2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: azure;
	background-color: rgb(3, 136, 197);
}

h1 {
	margin: 1rem 0 0;
}

h3 {
	margin: 1rem 0;
}

.cup {
	background-color: white;
	border: 4px solid var(--border-color);
	color: var(--border-color);
	border-radius: 0 0 3.4rem 3.4rem;
	height: 330px;
	width: 150px;
	margin: 3rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.cup.cup-small {
	width: 55px;
	height: 95px;
	border-radius: 0 0 1rem 1rem;
	background-color: rgba(255, 255, 255, 0.9);
	cursor: pointer;
	display: flex;
	font-size: 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 5px;
	flex-wrap: wrap;
	transition: 0.3s ease;
}

.cup.cup-small.full {
	background-color: var(--fill-color);
	color: azure;
}

.cups {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 280px;
}

.remained {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex: 1;
	transition: 0.4s linear;
}

.remained span {
	font-size: 1.5rem;
	font-weight: bold;
}

.remained small {
	font-size: 0.9rem;
	font-style: italic;
}

.percentage {
	background-color: var(--fill-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	height: 0;
	transition: 0.3s ease;
}

.text {
	text-align: center;
	margin: 0 0 0.2rem;
}
