@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto&display=swap");

/* font-family: "Luxurious Roman", cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(116, 35, 190);
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

.btn {
	background-color: rgb(161, 49, 226);
	border: none;
	border-radius: 5px;
	font-size: 2rem;
	padding: 1rem;
	margin: 0.5rem;
	color: azure;
	cursor: pointer;
	font-family: "Luxurious Roman", cursive;
}

.btn:hover {
	font-size: 2.1rem;
}
