@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto&display=swap");

/* font-family: "Luxurious Roman", cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.carousel {
	height: 530px;
	width: 500px;
	overflow: hidden;
}

.image-container {
	display: flex;
	transform: translateX(0);
	transition: transform 0.5s ease-in-out;
}

img {
	width: 500px;
	height: 500px;
	object-fit: cover;
}

.buttons {
	display: flex;
}

button {
	display: flex;
	justify-content: center;
	padding: 0.4rem;
	border: none;
	color: azure;
	outline: none;
	background-color: blueviolet;
	width: 50%;
	cursor: pointer;
}

#left {
	border-right: 2px solid azure;
}

button:hover {
	opacity: 0.95;
	color: rgb(183, 238, 238);
}
