@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto&display=swap");

/* font-family: "Luxurious Roman", cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 1000vh;
}

.box {
	width: 400px;
	height: 150px;
	background-color: olivedrab;
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(-100vw);
	animation-name: rectangle;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}

@keyframes rectangle {
	from {
		transform: translateX(-100vw);
	}

	to {
		transform: translateX(0vw);
	}
}
